.headerOuterContainer {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-color: rgb(20, 20, 20);
  height: 8vh;
  color: #fff;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
}
img {
  /* max-height: 22px; */
  border: 1px solid black;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

ul {
  display: flex;
  list-style: none;
  gap: 15px;
  cursor: pointer;
}
.headerLeft ul {
  align-items: center;
}
